.banner {
  background-color: $grey;
}

.banner_main-page {
  background-color: $grey--light;
}

.banner__title {
  margin: 0;

  @include font-mix($font-family, 700, $font-size--xxl, $font-line-height--m, normal, #000000);
  text-align: center;
}

.banner__inner {
  padding-top: 70px;
  padding-bottom: 76px;

  color: #000000;
}

.banner__inner_image {
  padding-bottom: 122px;

  color: #000000;
  background-color: $grey--light;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: 575px 373px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.banner__link {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 103px;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 29px;

  @include font-mix($font-family, 700, $font-size--m, $font-line-height--s, normal, #ffffff);

  &_interior {
    background-color: $seafoam;
  }

  &_toys {
    background-color: $greeny;
  }

  @include link-effects($white, 1, 0.3, #149080, 0.6, 0.3);

  &:hover,
  &:focus {
    min-height: 108px;
    margin-top: -5px;
  }

  @include transition();
}

.banner__link-icon {
  fill: rgba(#149080, 0.5);

  @include transition();
}

.banner__link_interior .banner__link-icon {
  margin-right: 36px;
}

.banner__link_toys .banner__link-icon {
  margin-right: 27px;
}

.banner__link-text {
  max-width: 170px;
}

@media (min-width: $screen-tablet) {
  .banner__inner {
    padding-top: 95px;
    padding-bottom: 79px;
  }

  .banner__inner_image {
    padding-top: 153px;
    padding-bottom: 373px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 0;
    background-size: 1150px 746px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .banner__title {
    font-size: $font-size--xxxl;
    line-height: $font-line-height--l;
  }

  .banner__buttons {
    display: flex;
    padding: 0 50px;
  }

  .banner__link {
    width: 50%;
    min-height: 119px;
    padding-top: 28px;
    padding-left: 35px;
    padding-right: 36px;

    &:hover,
    &:focus {
      min-height: 124px;
    }

    .banner__link-icon {
      margin-right: 0;
    }
  }

  .banner__link-text {
    font-size: $font-size--l;
    line-height: $font-line-height--m;
  }
}

@media (min-width: $screen-desktop) {
  .banner__inner {
    width: auto;
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 93px;
    padding-bottom: 103px;
  }

  .banner__inner_image {
    padding-top: 153px;
    padding-bottom: 359px;

    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .banner__title {
    font-size: $font-size--xxxxl;
    line-height: $font-line-height--xl;
  }

  .banner__buttons {
    max-width: 1150px;
    margin: 0 auto;
  }
}
