.best-seller {
  color: #000000;

  &::after {
    content: "";

    display: block;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 50% 100%;
    background-size: 320px 100%;
    transform: rotate(180deg);
  }
}

.best-seller__inner {
  padding-top: 27px;
  padding-right: 30px;
  padding-bottom: 35px;
  padding-left: 30px;
}

.best-seller__heading {
  margin-bottom: 23px;
}

.best-seller__title {
  margin: 0;
  margin-bottom: 5px;

  @include font-mix($font-family, 700, $font-size--xl, $font-line-height--m, normal, #000000);
  text-align: left;
}

.best-seller__label {
  @include font-mix($font-family, 700, $font-size--xs, $font-line-height--xs, normal, $seafoam);
  text-align: left;
  text-transform: uppercase;
}

.best-seller__description {
  @include font-mix($font-family, 400, $font-size--xxs, $font-line-height--s, normal, $grey--darkest);
  text-align: left;
  margin-bottom: 28px;
}

.best-seller__text {
  margin: 0;
  margin-bottom: 18px;
}

.best-seller__specs {
  width: 100%;
  line-height: $font-line-height--xs;
  border-collapse: collapse;
}

.best-seller__row {
  border-bottom: 1px solid $grey--darker;
}

.best-seller__row td {
  min-width: 81px;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 10px;
}

.best-seller__picture {
  margin-bottom: 24px;
}

.best-seller__image {
  display: block;
}

.best-seller__buy {
  @include font-mix($font-family, 700, $font-size--xs, $font-line-height--s, normal, $grey--darkest);
  text-align: center;
}

.best-seller__price {
  margin: 0;
  margin-bottom: 26px;
}

@media (min-width: $screen-tablet) {
  .best-seller {
    position: relative;
    margin-top: -12px;

    &::before {
      content: "";

      display: block;
      width: 100%;
      height: 24px;
      background-color: transparent;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: 50% 100%;
      background-size: 770px 100%;
    }

    &::after {
      height: 17px;
      background-size: 768px 100%;
    }
  }

  .best-seller__inner {
    display: flex;
    flex-wrap: wrap;
    padding-top: 33px;
    padding-right: 50px;
    padding-bottom: 52px;
    padding-left: 50px;
  }

  .best-seller__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 44px;
  }

  .best-seller__title {
    font-size: $font-size--xxxl;
    line-height: $font-line-height--l;
  }

  .best-seller__label {
    width: 70px;
    margin-right: 28px;
    line-height: 17px;
    text-align: center;
  }

  .best-seller__description {
    width: 50%;
    margin-bottom: 0;
    padding-right: 44px;
    padding-bottom: 110px;
  }

  .best-seller__text {
    margin-bottom: 36px;

    font-size: $font-size--xs;
    line-height: $font-line-height--m;
  }

  .best-seller__row td {
    min-width: 68px;
  }

  .best-seller__picture {
    width: 50%;
    /* Временно старт*/
    min-height: 412px;
    /* Временно конец*/
    margin-bottom: 0;
    padding-top: 8px;
  }

  .best-seller__buy {
    z-index: 2;

    width: 50%;
    margin-top: -110px;
    padding-right: 44px;
  }

  .best-seller__price {
    font-size: $font-size--l;
    margin-bottom: 34px;
  }
}

@media (min-width: $screen-desktop) {
  .best-seller {
    margin-top: -18px;

    &::before {
      height: 37px;


      background-position: 50% 50%;
      background-size: 1250px 100%;
    }

    &::after {
      width: 1050px;
      margin: 0 auto;

      height: 23px;
      background-size: 1050px 100%;
    }
  }

  .best-seller__inner {
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 44px;
    padding-bottom: 73px;
  }

  .best-seller__heading {
    z-index: 10;
    justify-content: flex-start;
    margin-bottom: -182px;
    padding-left: 47px;
  }

  .best-seller__title {
    font-size: $font-size--xxxxl;
    line-height: $font-line-height--xl;
  }

  .best-seller__label {
    order: -1;
    margin-right: 55px;
    padding-top: 2px;
  }

  .best-seller__description {
    margin-top: 166px;
    padding-left: 175px;
  }

  .best-seller__text {
    margin-bottom: 50px;
  }

  .best-seller__row td {
    padding-top: 7px;
    padding-bottom: 12px;
  }

  .best-seller__row td:first-child {
    width: 98px;
  }

  .best-seller__picture {
    // Временно старт
    min-height: 644px;
    // Временно конец
  }

  .best-seller__buy {
    padding-left: 175px;
    padding-right: 58px;
  }
}
