.checkbox-item__label {
  position: relative;

  display: flex;
  align-items: center;

  cursor: pointer;

  &::before {
    content: "";

    display: block;
    width: 40px;
    height: 40px;
    margin-right: 23px;

    background-color: transparent;
    border: 2px solid $grey--darkest;
  }

  &:hover::before {
    border-color: $seafoam;
  }

  &:active::before {
    border-color: rgba($grey--darkest, 0.3);
  }
}

.checkbox-item__input:focus + .checkbox-item__label {
  &::before {
    border-color: $seafoam;
  }
}

.checkbox-item__input:checked + .checkbox-item__label {
  &::after {
    content: "";

    position: absolute;
    top: 12px;
    left: 9px;

    width: 22px;
    height: 10px;

    border-bottom: 2px solid $icon-original;
    border-left: 2px solid $icon-original;
    transform: rotate(-45deg);
  }
}

@media (min-width: $screen-tablet) {
  .checkbox-item__label {
    align-items: center;

    &::before {
      width: 54px;
      height: 52px;
      margin-right: 27px;
    }
  }

  .checkbox-item__input:checked + .checkbox-item__label {
    &::after {
      top: 14px;
      left: 12px;

      width: 30px;
      height: 16px;
    }
  }
}
