.copyright {
  margin: 0;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include font-mix($font-family, 700, $font-size--m, $font-line-height--xs, normal, $black);
  text-align: left;

  @include link-effects (#000000, 1, 0.3, $greeny, 1 , 0.3);
}

.copyright__link-text {
  padding-bottom: 5px;
}

.copyright__link-icon {
  width: 27px;
  height: 34px;

  fill: $seafoam;
}
