.goods {
  padding-top: 30px;

  color: #000000;
  background-color: #ffffff;
}

.goods__inner {
  padding: 0 30px 58px;
}

.goods__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.goods__item {
  margin-bottom: 30px;
}
