.production {
  color: #000000;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px $grey--dark;

  &:hover {
    box-shadow: 0 6px 10px 0 $grey--dark;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $grey--dark;
  }
}

.production__title-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 24px;
  padding-right: 34px;
  padding-left: 34px;
  padding-bottom: 25px;
}

.production__title-icon {
  flex-shrink: 0;
  width: 32px;
  height: 22px;
  margin-right: 25px;

  path {
    fill: $seafoam;
  }
}

.production__title {
  margin: 0;

  @include font-mix($font-family, 700, $font-size--xs, $font-line-height--s, normal, #000000);
}

.production__video {
  background-color: $grey--darker;
}

.production__preview-image {
  display: block;
}

.production__description {
  padding: 27px 34px 33px;
}

.production__text {
  margin: 0;
  margin-bottom: 25px;

  @include font-mix($font-family, 400, $font-size--xxxs, $font-line-height--s, normal, $grey--darkest);
}

.production__button {
  font-size: $font-size--xs;
}

@media (min-width: $screen-tablet) {
  .production {
    display: flex;
    flex-direction: column;
  }

  .production__video {
    min-height: 455px;
    order: -1;
  }

  .production__title-wrapper {
    padding-top: 38px;
    padding-right: 42px;
    padding-bottom: 32px;
    padding-left: 42px;
  }

  .production__title {
    font-size: $font-size--l;
  }

  .production__title-icon {
    margin-right: 33px;
  }

  .production__description {
    padding-top: 0;
    padding-right: 42px;
    padding-bottom: 46px;
    padding-left: 42px;
  }

  .production__text {
    margin-bottom: 35px;

    font-size: $font-size--xxs;
    line-height: $font-line-height--m;
  }
}

@media (min-width: $screen-desktop) {
  .production {
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 455px;
  }

  .production__video {
    width: 682px;
  }

  .production__title-wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 368px;
    min-height: 177px;
    padding-top: 47px;
    padding-right: 80px;
    padding-bottom: 24px;
    padding-left: 80px;
  }

  .production__title-icon {
    margin-right: 0;
    margin-bottom: 27px;
  }

  .production__description {
    width: 368px;
    padding-right: 58px;
    padding-left: 80px;
    padding-bottom: 60px;
  }

  .production__text {
    margin-bottom: 46px;
  }
}
