.product {
  &:hover {
    box-shadow: 0 6px 10px 0 $grey--dark;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $grey--dark;
  }
}

.product__image {
  display: block;
  width: 100%;
}

.product__image-link {
  display: block;

  background-color: $grey--darker;
}

.product__info {
  display: flex;
  flex-direction: column;
  min-height: 180px;
  padding: 27px 28px 28px;

  text-align: left;

  background-color: $white;
  box-shadow: inset 0 0 0 1px $grey--dark;
}

.product__title {
  margin: 0;
  margin-bottom: 5px;

  @include font-mix($font-family, 700, $font-size--xs, $font-line-height--s, normal, #000000);
  color: inherit;
}

.product__title-link {
  color: $black;

  @include link-effects();
}

.product__description {
  margin: 0;
  margin-bottom: 20px;

  @include font-mix($font-family, 400, $font-size--xxxs, $font-line-height--m, normal, $grey--darkest);
}

.product__buy {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  margin-top: auto;
  padding-top: 21px;

  border-top: 1px solid $grey--darker;
}

.product__price {
  @include font-mix($font-family, 700, $font-size--xxs, $font-line-height--s, normal, #000000);
}

.product__cart {
  @include link-effects();
}

.product__cart-icon {
  fill: rgba($icon-original, 0.2);
}

@media (min-width: $screen-tablet) {
  .product {
    display: flex;
  }

  .product__image-link {
    width: 50%;
  }

  .product__info {
    width: 50%;
    padding-top: 26px;
    padding-bottom: 27px;
  }

  .product__title {
    font-size: $font-size--l;
  }

  .product__description {
    font-size: $font-size--xxs;
  }

  .product__buy {
    padding-left: 4px;
    padding-right: 6px;
  }

  .product__price {
    font-size: $font-size--xs;
  }
}

@media (min-width: $screen-desktop) {
  .product {
    width: 316px;
    flex-direction: column;
  }

  .product__image-link {
    width: 100%;
  }

  .product__info {
    width: 100%;
    min-height: 197px;
    padding-left: 27px;
    padding-right: 33px;
  }

  .product__description {
    margin-bottom: 15px;
  }

  .product__buy {
    padding-right: 0;
    padding-left: 0;
  }
}
