.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 141px;
  min-height: 28px;
  margin: 0;
  padding: 0;
  padding-right: 5px;

  list-style: none;
}

.social__item {
  display: block;
  margin-right: 40px;
}

.social__item:last-of-type {
  margin-right: 0;
}

.social__link {
  display: block;

  @include link-effects($black,1, 1, $greeny, 1, 0.3);
}

.social__link-icon {
  fill: $icon-original;

  @include transition();
}

.social__link_facebook .social__link-icon {
  width: 15px;
  height: 28px;
  margin-bottom: 3px;
}
