.text-item {
  display: flex;
  flex-direction: column;

  text-align: left;
}

.text-item__label {
  padding-top: 4px;
}

.text-item__input {
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;

  @include font-mix($font-family, 400, $font-size--xs, $font-line-height--xxs, normal, $grey--darkest);

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;

  &:hover,
  &:focus {
    border-color: $seafoam;
  }

  &:-ms-input-placeholder {
    color: rgba($grey--darkest, 0.3);
  }

  &::placeholder {
    color: rgba($grey--darkest, 0.3);
  }
}

@media (min-width: $screen-tablet) {
  .text-item {
    flex-direction: row;
    align-items: center;
  }

  .text-item__label {
    margin-right: 25px;
    padding-top: 0;
  }

  .text-item__input {
    width: 100%;
    padding-top: 11px;
    padding-left: 16px;
    padding-bottom: 13px;

    font-size: $font-size--m;
  }
}
