.text-item {
  display: flex;
  flex-direction: column;

  text-align: left;
}

.text-item_phone {
  font-size: $font-size--s;
}

.text-item__label {
  padding-top: 5px;
}

.text-item__input {
  padding: 0;
  padding-top: 14px;
  padding-bottom: 18px;

  @include font-mix($font-family, 400, $font-size--xs, $font-line-height--xxs, normal, rgba($grey--darkest, 0.3));

  border: none;
  border-bottom: 2px solid #000000;
}

.text-item__textarea {
  width: 100%;
  padding: 16px;

  @include font-mix($font-family, 400, $font-size--xs, $font-line-height--xxs, normal, rgba($grey--darkest, 0.3));

  border: 2px solid #000000;
}
