@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;

  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;

  src:
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}
