@mixin font-mix($family: $font-family, $weight: 400, $size: $font-size--xs, $line-height: $font-line-height--s, $style: normal, $color: #000000) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  font-style: $style;
  line-height: $line-height;
  color: $color;
}

@mixin hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin link-effects($color: $black, $opacity1: 0.6, $opacity2: 0.3, $fill: $seafoam, $icon-opacity1: 1, $icon-opacity2: 0.3) {
  &[href]:hover,
  &[href]:focus {
    color: rgba($color, $opacity1);

    svg {
      fill: rgba($fill, $icon-opacity1);
    }
  }

  &[href]:active {
    color: rgba($color, $opacity2);

    svg {
      fill: rgba($fill, $icon-opacity2);
    }
  }
}

@mixin transition($property: all, $duration: 0.2s, $function: ease-in-out, $delay: 0s) {
  transition: $property $duration $function $delay;
}
