// Breakpoints

$screen-mobile: 320px !default;
$screen-tablet: 768px !default;
$screen-desktop: 1150px !default;

// Colors
$grey: #f1f1f1 !default;
$grey--light: #f9f9f9 !default;
$grey--lighten: #fdfdfd !default;
$grey--dark: #ececec !default;
$grey--darker: #e5e5e5 !default;
$grey--darken: #cccccc !default;
$grey--darkest: #444444 !default;

$white: #ffffff !default;
$black: #000000 !default;
$seafoam: #63d1bb !default;
$greeny: #56c3b2 !default;

// Fonts
$font-family: "Open Sans", arial, sans-serif;

$font-size--xxxxl: 53px !default;
$font-size--xxxl: 43px !default;
$font-size--xxl: 27px !default;
$font-size--xl: 25px !default;
$font-size--l: 20px !default;
$font-size--m: 19px !default;
$font-size--s: 18px !default;
$font-size--xs: 17px !default;
$font-size--xxs: 15px !default;
$font-size--xxxs: 13px !default;

$font-line-height--xl: 57px !default;
$font-line-height--l: 50px !default;
$font-line-height--m: 30px !default;
$font-line-height--s: 24px !default;
$font-line-height--xs: 20px !default;
$font-line-height--xxs: 18px !default;
$font-line-height--xxxs: 16px !default;
